@model Layers.Models.ViewModels.PizzaOrderVM
@using Layers.Models.Models;
@{
    ViewData["Title"] = "GetOrderDetails";
}




<div class="container justify-content-center" >
    <h1 align="center">Order Details</h1>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CurrOrder.Id)
            </dt>
            <dt class="col-sm-10">
                # @Html.DisplayFor(model => model.CurrOrder.Id)
            </dt>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CurrOrder.OrderDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CurrOrder.OrderDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CurrOrder.Total)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CurrOrder.Total)
            </dd>
        </dl>
</div>

    <div class="limiter" align="center">
        <div>
            <a asp-action="Index" class="btn-dark btn-lg disabled">Back to Order List</a>
        </div>
        <br />
        <div>
            <div class="wrap-table100">
                <div class="table100 ver3 m-b-110">
                    <div class="table100-head">
                        <table>
                            <thead>
                                <tr class="row100 head">
                                    <th class="cell100 column1" style="color:#fac564">
                                        Pizza Information
                                    </th>
                                    <th class="cell100 column2" style="color:#fac564">
                                        Quantity
                                    </th>
                                    <th class="cell100 column3" style="color:#fac564">
                                        Pizza Price
                                    </th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table100-body js-pscroll">
                        <table>
                            <tbody>
                                @foreach (var item in Model.OrderDetailsList)
                                {
                                <tr class="row100 body">

                                    <td class="cell100 column1">
                                        @{

                                            foreach (var pizza in Model.PizzaPieList)
                                            {
                                                if (pizza.Id == item.PizzaID)
                                                {
                                                    var size = "";
                                                    var crust = "";
                                                    switch (pizza.SizeId)
                                                    {
                                                        case 1:
                                                            size = Model.SizesList[0].Type;
                                                            break;
                                                        case 2:
                                                            size = Model.SizesList[1].Type;
                                                            break;
                                                        case 3:
                                                            size = Model.SizesList[2].Type;
                                                            break;
                                                        default:
                                                            size = Model.SizesList[0].Type;
                                                            break;
                                                    }


                                                    switch (pizza.CrustID)
                                                    {
                                                        case 1:
                                                            crust = Model.CrustList[0].Type;
                                                            break;
                                                        case 2:
                                                            crust = Model.CrustList[1].Type;
                                                            break;
                                                        case 3:
                                                            crust = Model.CrustList[2].Type;
                                                            break;
                                                        default:
                                                            crust = Model.SizesList[0].Type;
                                                            break;
                                                    }


                                                    <p>
                                                        <strong> Pizza Type: @pizza.Type </strong> <br />
                                                        Size: @size <br />
                                                        Crust Type: @crust <br />

                                                    </p>

                                                    string pTopping = "";
                                                    foreach (KeyValuePair<int, List<Toppings>> toppingPizza in Model.ToppingsList)
                                                    {
                                                        int pizzapieId = toppingPizza.Key;

                                                        if (pizza.Id == pizzapieId)
                                                        {
                                                            List<Toppings> list = toppingPizza.Value;
                                                            //Console.WriteLine("Key = {0}, contains {1} values:", key, list.Count);
                                                            foreach (var itemTopping in list)
                                                            {
                                                                pTopping += itemTopping.Type + ",";
                                                            }
                                                        }

                                                    }

                                                    <p>
                                                        Toppings: @pTopping
                                                    </p>

                                                }

                                            }
                                        }
                                    </td>

                                    <td class="cell100 column2">
                                        x @item.Quantity
                                    </td>
                                    <td class="cell100 column3">
                                        $@item.Price
                                    </td>
                                </tr>

                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <script src="~/lib/bootstrap/dist/css/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/css/vendor/bootstrap/js/popper.js"></script>
    <script src="~/lib/bootstrap/dist/css/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/css/vendor/select2/select2.min.js"></script>
    <script src="~/lib/bootstrap/dist/css/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function () {
            var ps = new PerfectScrollbar(this);

            $(window).on('resize', function () {
                ps.update();
            })
        });
    </script>
    <script src="~/js/main.js"></script>
